@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
}

::selection{
  color: #494cef;
}
@layer base {
  ::-webkit-scrollbar {
      display: none !important;
  }

  * {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}